version: "3.7"
services:
  db:
    image: mysql:8.0
    container_name: db
    restart: unless-stopped
    env_file:
      - ../.env
    environment:
      MYSQL_DATABASE: "task-management"
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_PASSWORD: "password"
      MYSQL_USER: "user"
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - ./.docker/mysql:/docker-entrypoint-initdb.d
    ports:
      - "3308:3306"
    networks:
      - task-management-network

  testDb:
    image: mysql:8.0
    container_name: testDb
    restart: unless-stopped
    env_file:
      - ../.env
    environment:
      MYSQL_DATABASE: "task-management-test"
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_PASSWORD: "password"
      MYSQL_USER: "user"
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - ./.docker/mysql:/docker-entrypoint-initdb.d
    ports:
      - "3307:3306"
    networks:
      - task-management-network

  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - "1080:1080" # MailCatcher web interface
      - "1025:1025" # SMTP server
    networks:
      - task-management-network